<div class="yom-mod yom-comments" id="yom-comments">
  <a name="comments"></a>
                  <div id="ugccmt-container">
                                    <div class="ugccmt-header">

                                <div id="ugccmt-post-frm-container" class="ugccmt-post-frm">
                <div class="ugccmt-signin-msg-wrapper">
                <a href="http://login.yahoo.com/config/login?.src=&amp;.intl=us&amp;.done=http%3A%2F%2Fautos.yahoo.com%2Fnews%2Fspinning-off-a-prius-brand.html%23ugccmt-post-frm-container" rel="nofollow"> Sign in </a> to post a comment, or <a href="http://edit.yahoo.com/config/eval_register?.src=&amp;.intl=us&amp;.done=http%3A%2F%2Fautos.yahoo.com%2Fnews%2Fspinning-off-a-prius-brand.html%23ugccmt-post-frm-container" rel="nofollow"> Sign up </a> for a free account.
                </div>
            </div>
                    <div class="ugccmt-sort-list-container">
                    <div class="ugccmt-left">
                        <h3 class="ugccmt-title ugcmt-total-no_1" id="ugccmt-total">
                         1 comment
                        </h3>
                    </div>
                                <ul id="ugccmt-sort-list" class="ugccmt-sort-list">
                <li>Most Popular</li><li><a href="http://autos.yahoo.com/news/spinning-off-a-prius-brand.html?ugccmtnav=v1%2Fcomments%2Fcontext%2F4aaa6c0b-55ea-39e4-a342-ac0ab61d098d%2Fcomments%3Fcount%3D20%26sortBy%3Dlatest" rel="nofollow" id="ugccmt-sort-latest" class="ugccmt-sort">Newest</a></li><li><a href="http://autos.yahoo.com/news/spinning-off-a-prius-brand.html?ugccmtnav=v1%2Fcomments%2Fcontext%2F4aaa6c0b-55ea-39e4-a342-ac0ab61d098d%2Fcomments%3Fcount%3D20%26sortBy%3Doldest" rel="nofollow" id="ugccmt-sort-oldest" class="ugccmt-sort">Oldest</a></li><li><a href="http://autos.yahoo.com/news/spinning-off-a-prius-brand.html?ugccmtnav=v1%2Fcomments%2Fcontext%2F4aaa6c0b-55ea-39e4-a342-ac0ab61d098d%2Fcomments%3Fcount%3D20%26sortBy%3DmostReplied" rel="nofollow" id="ugccmt-sort-mostReplied" class="ugccmt-sort">Most Replied</a></li>
            </ul>
                    </div>
                    </div>
                    <ul class="ugccmt-comments" id="ugccmt-comments">
                                <li id="ugccmt-comment_1305096060140-e4d3d3d2-f76e-4ce9-96a3-50f507f17557">
                            <div class="ugccmt-comment  " id="ugccmt-comment_1305096060140-e4d3d3d2-f76e-4ce9-96a3-50f507f17557_0_0_0">
                    <div class="ugccmt-avatar-container">
                    <a href="http://pulse.yahoo.com/_XQUJTBAYIA5S25KARXXNSS4K2U"><img width="48" height="48" style="background:url(http://a323.yahoofs.com/coreid/4ae2df10i1089z/6n9V9JEieq.fd.YoExiVKws-/3/tn48.jpeg?ciAw8eOB2ttjMjwk);" src="http://l.yimg.com/a/i/us/nws/2008/news/us/assets/common/images/transparent.png" alt="Tigger" id="ugccmt-user_1305096060140-e4d3d3d2-f76e-4ce9-96a3-50f507f17557_XQUJTBAYIA5S25KARXXNSS4K2U"></a>
                    </div>
                    <div class="ugccmt-info  ugccmt-render-rate ugccmt-render-reply">
                        <cite>

                             <a href="http://pulse.yahoo.com/_XQUJTBAYIA5S25KARXXNSS4K2U" target="_blank"><strong>Tigger</strong></a> 
                            <span class="ugccmt-timestamp"><abbr title="2011-05-11T06:41:00+0000">20 hours ago</abbr></span>
                        </cite>
                        <blockquote class="ugccmt-commenttext">Nice car!</blockquote>
                    </div>
                    <!-- end .ugccmt-info -->
                </div>
                <!-- end .ugccmt-bd -->
            </li>
                    </ul>

                    <div class="ugccmt-footer">
                        <a href="http://login.yahoo.com/config/login?.src=&amp;.intl=us&amp;.done=http%3A%2F%2Fautos.yahoo.com%2Fnews%2Fspinning-off-a-prius-brand.html" rel="nofollow" id="ugccmt-postcommentinternal"><div class="ugccmt-sprite_bg ugccmt-post-comments ugccmt-sprite_img"></div>&nbsp;Post a comment</a>
                    </div>
                </div>        <!--maple_widget_ugccmt-1.4.1.8-->
        <script>
            var ugccmt_data = {
                user_guid: "",
                rated_comments: [],
                'ycrumb': "mrO1uz/f4ik",
                'degraded': false
            };
        </script>
</div>
