<div id="nav-footer" class="yom-mod yom-nav-footer">
	<div class="hd">
		<h2>Silicon Valley Ruby (SVruby)</h2>
	</div>
	<div class="bd">
		<div class="content">
			<div class="wrap">
				<ul style="width:50%" class="yom-list col first">
					<% if !@menu_pages.blank? %>
					  <% for menu_item in @menu_pages %>
					    <li><a title="<%= menu_item %>" href="<%= menu_item.url %>"><span><%= menu_item.title %></span></a></li>
					  <% end %>
					    <li><a title="&nbsp;" href="/"><span> </span></a></li>
					    <li><a title="&nbsp;" href="/"><span> </span></a></li>
					
					<% else %>
				    	<li><a title="no menu items" href="/"><span>no menu items</span></a></li>
					<% end %>
				</ul>
				<ul style="width:50%" class="yom-list col last" start="6"> 
					
				</ul>
			</div>
		</div>
	</div>
	<div class="ft"><a class="more" href="/sitemap.xml">Silicon Valley Ruby (SVruby) Sitemap»</a></div></div>			</div>
            <div class="yui3-u-1-4">

                <div class="yom-mod yom-linkbox yom-also-on-yahoo" id="also-on-yahoo">
	<div class="hd"><h2>Also In Ruby</h2></div>
	<div class="bd">
		<div class="content">
			<div class="wrap">
				<ul class="yom-list col first" style="width:33.333333333333%">
					<li class="first"><a href="http://ruby-lang.org/"><span>Language</span></a></li>
					<li><a href="http://rubyonrails.org/"><span>Rails</span></a></li>
					<li><a href="http://www.workingwithrails.com/"><span>Work</span></a></li>
					<li><a href="http://drnicwilliams.com/"><span>DrNic</span></a></li>
					<li class="last"><a href="http://ruby.meetup.com/"><span>Meetups</span></a></li>
				</ul>
				<ul start="6" class="yom-list col" style="width:33.333333333333%">
					<li class="first"><a href="http://railsinstaller.org/"><span>Installer</span></a></li>
					<li><a href="http://rubyonrails.org/download"><span>Mac</span></a></li>
					<li><a href="http://railscasts.com/"><span>Railscasts</span></a></li>
					<li><a href="https://github.com/languages/Ruby"><span>Github</span></a></li>
					<li class="last"><a href="http://rubyonrails.org/documentation"><span>Learn</span></a></li>
				</ul>
				<ul start="11" class="yom-list col last" style="width:33.333333333333%">
					<!-- <li class="first"><a href="http://shopping.yahoo.com/"><span>Shopping</span></a></li>
					<li><a href="http://sports.yahoo.com/"><span>Sports</span></a></li>
					<li><a href="http://travel.yahoo.com/"><span>Travel</span></a></li>
					<li class="last"><a href="http://tv.yahoo.com/"><span>TV</span></a></li> -->
				</ul>
			</div>
		</div>
	</div>
	<div class="ft">
		<a href="/everything" class="more">All Ruby »</a>
	</div>
</div>
            </div>

            <div class="yui3-u-1-4">
<div class="hd"><h2>Trending Now</h2></div>
<div class="bd">
	<div class="content">
		<div class="wrap">
			<ol class="yom-list col first" style="width:50%">
				<li class="first"><a href="http://search.yahoo.com/search?cs=bz&amp;p=Topic1" rel="nofollow"><span>Topic1</span></a></li>
				<li><a href="http://search.yahoo.com/search?cs=bz&amp;p=Topic2" rel="nofollow"><span>Topic2</span></a></li>
				<li><a href="http://search.yahoo.com/search?cs=bz&amp;p=Topic3" rel="nofollow"><span>Topic3</span></a></li>
				<li><a href="http://search.yahoo.com/search?cs=bz&amp;p=Topic4" rel="nofollow"><span>Topic4</span></a></li>
				<li class="last"><a href="http://search.yahoo.com/search?cs=bz&amp;p=Topic5" rel="nofollow"><span>Topic5</span></a></li>
			</ol>
			<ol start="6" class="yom-list col last" style="width:50%">
				<li class="first"><a href="http://search.yahoo.com/search?cs=bz&amp;p=Topic6" rel="nofollow"><span>Topic6</span></a></li>
				<li><a href="http://search.yahoo.com/search?cs=bz&amp;p=Topic7" rel="nofollow"><span>Topic7</span></a></li>
				<li><a href="http://search.yahoo.com/search?cs=bz&amp;p=Topic8" rel="nofollow"><span>Topic8</span></a></li>
				<li><a href="http://search.yahoo.com/search?cs=bz&amp;p=Topic9" rel="nofollow"><span>Topic9</span></a></li>
				<li class="last"><a href="http://search.yahoo.com/search?cs=bz&amp;p=Topic10" rel="nofollow"><span>Topic10</span></a></li>
			</ol>
		</div>
	</div>
</div>
            </div>
        </div>
    </div>

	<!-- <div class="yog-wrap yog-full yom-stage" id="seo-footer">
	                <div class="yog-col yog-grid yog-24u">
	                    <div id="seo-footer-linkbox" class="yom-mod yom-linkbox seo-footer-linkbox"><div class="hd"><h2>New Cars on Yahoo! Autos</h2></div><div class="bd"><div class="content"><div class="wrap"><ul style="width:16.666666666667%" class="yom-list col first"><li class="first"><a href="http://autos.yahoo.com/nissan_trucks/;_ylt=Ak10F3z6LNwGjazsl_enFktGca9_;_ylu=X3oDMTBtNzB0ODBrBHBvcwMxBHNlYwNNZWRpYUxpbmtib3g-;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD"><span>Nissan Trucks</span></a></li><li><a href="http://autos.yahoo.com/subaru/;_ylt=AgRtYC3FzgTx.meCawUkxfhGca9_;_ylu=X3oDMTBtcGUwcnZ2BHBvcwMyBHNlYwNNZWRpYUxpbmtib3g-;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD"><span>Subaru Cars</span></a></li><li><a href="http://autos.yahoo.com/porsche/;_ylt=AubozJoiCM9DKULYlk1z.VNGca9_;_ylu=X3oDMTBtOWlsazlxBHBvcwMzBHNlYwNNZWRpYUxpbmtib3g-;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD"><span>Porsche Cars</span></a></li><li><a href="http://autos.yahoo.com/rolls_royce/;_ylt=ArR7Ztsi.tPiTNQ8Z6o2uw9Gca9_;_ylu=X3oDMTBtcm84YnJwBHBvcwM0BHNlYwNNZWRpYUxpbmtib3g-;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD"><span>Rolls Royce Cars</span></a></li><li><a href="http://autos.yahoo.com/toyota/;_ylt=AqU7P8OykVEVl0ItKv6AthJGca9_;_ylu=X3oDMTBtODQxaXZ1BHBvcwM1BHNlYwNNZWRpYUxpbmtib3g-;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD"><span>Toyota Cars</span></a></li><li><a href="http://autos.yahoo.com/saab/;_ylt=Ak6TLFigkkBhJS1SojkuMGhGca9_;_ylu=X3oDMTBtaG9jZnI0BHBvcwM2BHNlYwNNZWRpYUxpbmtib3g-;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD"><span>Saab Cars</span></a></li><li><a href="http://autos.yahoo.com/audi/;_ylt=AouZuQKZqMySJu5Zsf2opjRGca9_;_ylu=X3oDMTBta3VlcWF2BHBvcwM3BHNlYwNNZWRpYUxpbmtib3g-;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD"><span>Audi Cars</span></a></li><li class="last"><a href="http://autos.yahoo.com/lotus/;_ylt=AiO4FNePYBAN.7k_5UO4QVJGca9_;_ylu=X3oDMTBtbnUwdWIyBHBvcwM4BHNlYwNNZWRpYUxpbmtib3g-;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD"><span>Lotus Cars</span></a></li></ul><ul style="width:16.666666666667%" class="yom-list col" start="9"><li class="first"><a href="http://autos.yahoo.com/nissan/;_ylt=AugRUXNciUP7S1a0iKHGRhdGca9_;_ylu=X3oDMTBta2JvcWVhBHBvcwM5BHNlYwNNZWRpYUxpbmtib3g-;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD"><span>Nissan Cars</span></a></li><li><a href="http://autos.yahoo.com/lexus/;_ylt=Art.7FFN1oLE3tFDJq5znUNGca9_;_ylu=X3oDMTBuaWNrdTl1BHBvcwMxMARzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD"><span>Lexus Cars</span></a></li><li><a href="http://autos.yahoo.com/volvo/;_ylt=AiXLHwmHNonmUBvwGlnibo1Gca9_;_ylu=X3oDMTBucHAzdDhnBHBvcwMxMQRzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD"><span>Volvo Cars</span></a></li><li><a href="http://autos.yahoo.com/lamborghini/;_ylt=Ati76F5zMw4odWiX6QIKs9NGca9_;_ylu=X3oDMTBuNTU4YWY0BHBvcwMxMgRzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD"><span>Lamborghini Cars</span></a></li><li><a href="http://autos.yahoo.com/toyota_trucks/;_ylt=Ah2QPPOCGIrLszndEhY2bFBGca9_;_ylu=X3oDMTBudGlnYTcyBHBvcwMxMwRzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD"><span>Toyota Trucks</span></a></li><li><a href="http://autos.yahoo.com/lincoln/;_ylt=Ah3jRD33IzvRB1IVPnFn2VFGca9_;_ylu=X3oDMTBuY3J1am0zBHBvcwMxNARzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD"><span>Lincoln Cars</span></a></li><li><a href="http://autos.yahoo.com/ford/;_ylt=AhWGNAcUOik93cAO59oC_2xGca9_;_ylu=X3oDMTBuZjlwYm1sBHBvcwMxNQRzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD"><span>Ford Cars</span></a></li><li class="last"><a href="http://autos.yahoo.com/ford_trucks/;_ylt=Ap2XEe0kj2DfWVJg3N6T1FhGca9_;_ylu=X3oDMTBuZjBzdnJwBHBvcwMxNgRzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD"><span>Ford Trucks</span></a></li></ul><ul style="width:16.666666666667%" class="yom-list col" start="17"><li class="first"><a href="http://autos.yahoo.com/dodge/;_ylt=AkEg6JDVDw2P0Xf5W9WrYVZGca9_;_ylu=X3oDMTBucDkzbWF0BHBvcwMxNwRzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD"><span>Dodge Cars</span></a></li><li><a href="http://autos.yahoo.com/acura/;_ylt=AtWM.ahguPuEAhhBV46RyPNGca9_;_ylu=X3oDMTBuc2xsNm51BHBvcwMxOARzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD"><span>Acura Cars</span></a></li><li><a href="http://autos.yahoo.com/scion/;_ylt=Amb2gcFHbm_j_sjtLyOlPVFGca9_;_ylu=X3oDMTBubWFoMG5pBHBvcwMxOQRzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD"><span>Scion Cars</span></a></li><li><a href="http://autos.yahoo.com/chevrolet_trucks/;_ylt=AqFywgJeGRJsFg.OLZ7UoDNGca9_;_ylu=X3oDMTBubjdzcjFhBHBvcwMyMARzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD"><span>Chevrolet Trucks</span></a></li><li><a href="http://autos.yahoo.com/cadillac/;_ylt=Al6jCmaBjHolWXiEJfcOPDFGca9_;_ylu=X3oDMTBudm9oaWdsBHBvcwMyMQRzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD"><span>Cadillac Cars</span></a></li><li><a href="http://autos.yahoo.com/mazda/;_ylt=AnNl5bML.ZXDoVqqbaWrrpdGca9_;_ylu=X3oDMTBuaXB0YnQ3BHBvcwMyMgRzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD"><span>Mazda Cars</span></a></li><li><a href="http://autos.yahoo.com/honda/;_ylt=Am4Wur1Uqs7TZmLriAj0xk1Gca9_;_ylu=X3oDMTBuaDV0bXE4BHBvcwMyMwRzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD"><span>Honda Cars</span></a></li><li class="last"><a href="http://autos.yahoo.com/maybach/;_ylt=AvKdbbSDZ.tgRY5HA5C7W7lGca9_;_ylu=X3oDMTBuMHI0YXFhBHBvcwMyNARzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD"><span>Maybach Cars</span></a></li></ul><ul style="width:16.666666666667%" class="yom-list col" start="25"><li class="first"><a href="http://autos.yahoo.com/pontiac/;_ylt=AtxCw1U8dYV9EEhyXEFsH0pGca9_;_ylu=X3oDMTBuc2szb21vBHBvcwMyNQRzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD"><span>Pontiac Cars</span></a></li><li><a href="http://autos.yahoo.com/buick/;_ylt=AqrVm0iwgPKhi.f4OwS0n1hGca9_;_ylu=X3oDMTBuNGJnczA4BHBvcwMyNgRzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD"><span>Buick Cars</span></a></li><li><a href="http://autos.yahoo.com/chevrolet/;_ylt=AoHNOfQz9TOSaWte56VmL8ZGca9_;_ylu=X3oDMTBubGF1cnY4BHBvcwMyNwRzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD"><span>Chevrolet Cars</span></a></li><li><a href="http://autos.yahoo.com/gmc/;_ylt=AoNhPBFRzflNWNBofTxB_N1Gca9_;_ylu=X3oDMTBuc3BlamRrBHBvcwMyOARzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD"><span>GMC Cars</span></a></li><li><a href="http://autos.yahoo.com/hyundai/;_ylt=AiD1FBeQSX9bAUqMqGLn_DtGca9_;_ylu=X3oDMTBuY3FxMXEyBHBvcwMyOQRzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD"><span>Hyundai Cars</span></a></li><li><a href="http://autos.yahoo.com/kia/;_ylt=AncDbpMU34B8i688OvwMJjFGca9_;_ylu=X3oDMTBuYWo4YThxBHBvcwMzMARzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD"><span>Kia Cars</span></a></li><li><a href="http://autos.yahoo.com/chrysler/;_ylt=AnpoeAtU2Sz9qRO3gOlSPcZGca9_;_ylu=X3oDMTBuMGg3MTJxBHBvcwMzMQRzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD"><span>Chrysler Cars</span></a></li><li class="last"><a href="http://autos.yahoo.com/infiniti/;_ylt=AoVnE2bGf4dfI0OZ9zFXCzxGca9_;_ylu=X3oDMTBudjJkcm11BHBvcwMzMgRzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD"><span>Infiniti Cars</span></a></li></ul><ul style="width:16.666666666667%" class="yom-list col" start="33"><li class="first"><a href="http://autos.yahoo.com/suzuki/;_ylt=AuzpcNOjhpRmmd_OjUJvZghGca9_;_ylu=X3oDMTBuODB1NGY2BHBvcwMzMwRzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD"><span>Suzuki Cars</span></a></li><li><a href="http://autos.yahoo.com/mitsubishi/;_ylt=AlyNc0wU3VJx5xuGG5bJgvNGca9_;_ylu=X3oDMTBuNG9vMDJnBHBvcwMzNARzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD"><span>Mitsubishi Cars</span></a></li><li><a href="http://autos.yahoo.com/maserati/;_ylt=ArK7goMq_sgs1H9u8dvXjWlGca9_;_ylu=X3oDMTBuN3BzZGd1BHBvcwMzNQRzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD"><span>Maserati Cars</span></a></li><li><a href="http://autos.yahoo.com/hummer/;_ylt=ArLyaMNUhfotxtOvDmPFndtGca9_;_ylu=X3oDMTBuMHBzdjR1BHBvcwMzNgRzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD"><span>Hummer Cars</span></a></li><li><a href="http://autos.yahoo.com/freightliner/;_ylt=AuMQWilHBaDhvMhfn5QUPPxGca9_;_ylu=X3oDMTBuMDA2OTJoBHBvcwMzNwRzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD"><span>Freightliner Cars</span></a></li><li><a href="http://autos.yahoo.com/mercedes_benz/;_ylt=AoYMcZ6DO0.E3fiX2A7l5XBGca9_;_ylu=X3oDMTBuZXJjODUzBHBvcwMzOARzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD"><span>Mercedes-Benz Cars</span></a></li><li><a href="http://autos.yahoo.com/bentley/;_ylt=AkH2CkMTQgS2Puj8UeVdjQVGca9_;_ylu=X3oDMTBubDRiZ3U1BHBvcwMzOQRzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD"><span>Bentley Cars</span></a></li><li class="last"><a href="http://autos.yahoo.com/dodge_trucks/;_ylt=AlfEtNZHrubOZdfN.rIA4B5Gca9_;_ylu=X3oDMTBuMWo2aHBhBHBvcwM0MARzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD"><span>Dodge Trucks</span></a></li></ul><ul style="width:16.666666666667%" class="yom-list col last" start="41"><li class="first"><a href="http://autos.yahoo.com/mini/;_ylt=AuCkq.qh58o64BAZkSe3V5ZGca9_;_ylu=X3oDMTBua2c0aDAyBHBvcwM0MQRzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD"><span>Mini Cars</span></a></li><li><a href="http://autos.yahoo.com/aston_martin/;_ylt=AhQETyNls.qrYHtRPrjnfllGca9_;_ylu=X3oDMTBuNXZvbGllBHBvcwM0MgRzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD"><span>Aston Martin Cars</span></a></li><li><a href="http://autos.yahoo.com/ferrari/;_ylt=Ar6zdAkgkULm7qsrBXBgoydGca9_;_ylu=X3oDMTBuazB1Ym5mBHBvcwM0MwRzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD"><span>Ferrari Cars</span></a></li><li><a href="http://autos.yahoo.com/bmw/;_ylt=Ap42n3F8WI9I3t.8_a6HeE5Gca9_;_ylu=X3oDMTBuYzZ2MjFrBHBvcwM0NARzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD"><span>BMW Cars</span></a></li><li><a href="http://autos.yahoo.com/mercury/;_ylt=AsHpDSOhlx9cl4eNNHoHb2FGca9_;_ylu=X3oDMTBuNWN0cmthBHBvcwM0NQRzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD"><span>Mercury Cars</span></a></li><li><a href="http://autos.yahoo.com/land_rover/;_ylt=Ag8FHznUJsQhGeSib2DBtzNGca9_;_ylu=X3oDMTBucnRuaHByBHBvcwM0NgRzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD"><span>Land Rover Cars</span></a></li><li><a href="http://autos.yahoo.com/tesla/;_ylt=AglzcZ4IBiCDCkOaPSeAp65Gca9_;_ylu=X3oDMTBuY2I1a2ZzBHBvcwM0NwRzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD"><span>Tesla Cars</span></a></li><li class="last"><a href="http://autos.yahoo.com/smart/;_ylt=Ah3aj1Q3wOiTsy48oH9GB.RGca9_;_ylu=X3oDMTBuc2twc2duBHBvcwM0OARzZWMDTWVkaWFMaW5rYm94;_ylg=X3oDMTFjN2RjMHJ2BGludGwDdXMEbGFuZwNlbi11cwRwc3RhaWQDBHB0A3NlY3Rpb25zBHRlc3QD"><span>Smart Cars</span></a></li></ul></div></div></div></div>
	                </div>
	            </div> -->
