<div class="yui3-g">
    <div class="yui3-u-1-2">
		<div class="hd">
			<h1 id="developers_and_their_code">Developers</h1>							
		</div>
		<div class="bd" style="overflow-y:scroll;height:250px;">
            <ul class="clearfix">
			      <li>
			        <a href="http://github.com/drnic"><img src="https://secure.gravatar.com/avatar/cb2b768a5e546b24052ea03334e43676?s=48&d=https://d3nwyuy0nl342s.cloudfront.net%2Fimages%2Fgravatars%2Fgravatar-140.png" alt="drnic"></a>
			      </li>
			      <li>
			        <a href="http://github.com/captproton"><img src="https://secure.gravatar.com/avatar/d30e8ed27cc0eb46aa279daf22632046?s=48" alt="captproton"></a>
			      </li>
			</ul>
			
		</div>
		<div class="ft">
			<div class="more"><a href="">More»</a></div>
		</div>
    </div>
    <div class="yui3-u-1-2">
		<div class="hd">
			<h2>Code</h2>
		</div>
		<div class="bd"  style="overflow-y:scroll;height:250px;">
            <ul>
			      <li>
			        <a href="https://github.com/resolve/refinerycms">refinerycms</a>
			        <span class="watches">
			          1361 watchers
			        </span>
			      </li>
			      <li>
			        <a href="https://github.com/resolve/refinerycms-blog">refinerycms-blog</a>
			        <span class="watches">
			          93 watchers
			        </span>
			      </li>
			      <li>
			        <a href="https://github.com/resolve/refinerycms-news">refinerycms-news</a>
			        <span class="watches">
			          71 watchers
			        </span>
			      </li>
			      <li>
			        <a href="https://github.com/resolve/refinerycms-portfolio">refinerycms-portfolio</a>
			        <span class="watches">
			          64 watchers
			        </span>
			      </li>
			      <li>
			        <a href="https://github.com/resolve/refinerycms-theming">refinerycms-theming</a>
			        <span class="watches">
			          61 watchers
			        </span>
			      </li>
			      <li>
			        <a href="https://github.com/resolve/refinerycms-search">refinerycms-search</a>
			        <span class="watches">
			          37 watchers
			        </span>
			      </li>
			      <li>
			        <a href="https://github.com/resolve/refinerycms-inquiries">refinerycms-inquiries</a>
			        <span class="watches">
			          36 watchers
			        </span>
			      </li>
			      <li>
			        <a href="https://github.com/resolve/refinerycms-i18n">refinerycms-i18n</a>
			        <span class="watches">
			          28 watchers
			        </span>
			      </li>
			      <li>
			        <a href="https://github.com/KieranP/vboxweb_rb">vboxweb_rb</a>
			        <span class="watches">
			          25 watchers
			        </span>
			      </li>
			      <li>
			        <a href="https://github.com/resolve/refinerycms-generators">refinerycms-generators</a>
			        <span class="watches">
			          25 watchers
			        </span>
			      </li>
			      <li>
			        <a href="https://github.com/resolve/refinerycms-page-images">refinerycms-page-images</a>
			        <span class="watches">
			          25 watchers
			        </span>
			      </li>
			      <li>
			        <a href="https://github.com/djones/refinerycms-podcast">refinerycms-podcast</a>
			        <span class="watches">
			          13 watchers
			        </span>
			      </li>
			      <li>
			        <a href="https://github.com/resolve/filters_spam">filters_spam</a>
			        <span class="watches">
			          12 watchers
			        </span>
			      </li>
			      <li>
			        <a href="https://github.com/resolve/refinerycms-calendar">refinerycms-calendar</a>
			        <span class="watches">
			          9 watchers
			        </span>
			      </li>
			      <li>
			        <a href="https://github.com/parndt/refinerycms-messages">refinerycms-messages</a>
			        <span class="watches">
			          9 watchers
			        </span>
			      </li>
			      <li>
			        <a href="https://github.com/gunn/Dispatch">Dispatch</a>
			        <span class="watches">
			          9 watchers
			        </span>
			      </li>
			      <li>
			        <a href="https://github.com/gunn/radiant-fancy_box-extension">radiant-fancy_box-extension</a>
			        <span class="watches">
			          6 watchers
			        </span>
			      </li>
			      <li>
			        <a href="https://github.com/Breccan/DNZ-Timeplot">DNZ-Timeplot</a>
			        <span class="watches">
			          5 watchers
			        </span>
			      </li>
			      <li>
			        <a href="https://github.com/Breccan/Base-Rails-app">Base-Rails-app</a>
			        <span class="watches">
			          5 watchers
			        </span>
			      </li>
			      <li>
			        <a href="https://github.com/DanielHeath/excesselt">excesselt</a>
			        <span class="watches">
			          5 watchers
			        </span>
			      </li>
			      <li>
			        <a href="https://github.com/gunn/godlike">godlike</a>
			        <span class="watches">
			          5 watchers
			        </span>
			      </li>
			      <li>
			        <a href="https://github.com/mynameisrufus/sorted">sorted</a>
			        <span class="watches">
			          5 watchers
			        </span>
			      </li>
			      <li>
			        <a href="https://github.com/bradleypriest/pxpay">pxpay</a>
			        <span class="watches">
			          4 watchers
			        </span>
			      </li>
			      <li>
			        <a href="https://github.com/Breccan/mandm">mandm</a>
			        <span class="watches">
			          4 watchers
			        </span>
			      </li>
			      <li>
			        <a href="https://github.com/DanielHeath/amped">amped</a>
			        <span class="watches">
			          4 watchers
			        </span>
			      </li>
			      <li>
			        <a href="https://github.com/DanielHeath/warnr">warnr</a>
			        <span class="watches">
			          4 watchers
			        </span>
			      </li>
			</ul>
		</div>
		<div class="ft">
			<div class="more"><a href="">More»</a></div>
		</div>
    </div>
</div>
<!-- Featured blog stories -->
<div id="MediaStoryListLP" class="yom-mod story-list story-list-lp">
	<div class="hd"><h3>Featured Blog Posts</h3></div>
	<div class="bd">
		<ul class="yom-list yom-list-wide headline">
			<!-- <li class="first"><div class="story"><div class="txt"><h4><a alt="The 5 Biggest Mistakes Used Car Buyers Make" href="/news/the-5-biggest-mistakes-used-car-buyers-make-20110506.html">The 5 Biggest Mistakes Used Car Buyers Make</a></h4><cite>The Car Connection - Sat, May 7, 2011 12:39 AM EDT</cite></div></div></li> -->
			<%- @blog_posts = BlogPost.all -%>
			<% if !@blog_posts.blank? %>
			    <% @blog_posts.each do |blog_post| %>
			        <li><div class="story"><div class="txt"><h4><%= link_to blog_post.title, blog_post_url(blog_post) %></h4><cite><%= blog_post.author.username %> - <%= blog_post.published_at %></cite></div></div></li>
			    <% end %>
			  </ul>
			<% end %>
		</ul>
 	</div>
	<div class="ft">
		<div class="more"> <%= link_to "View more blog posts»", '/blog' %></div>
	</div>
</div>
