        <!-- --><div class="yom-mod yom-art-hd">
					<div class="bd">
						<h1 class='headline' ><%= @page.title %></h1>
						<!-- <h2 class="subheadline">&nbsp;&nbsp;</h2>
						<a href="http://money.cnn.com/autos/" rel="nofollow"><img src="http://l.yimg.com/bt/api/res/1.2/qVjdkIP6wul7CufVI7D2fQ--/YXBwaWQ9eW5ld3M7Zmk9Zml0O2g9MzM-/http://media.zenfs.com/290/2011/04/07/cnnmoney-logo_174916.jpg" alt="CNNMoney.com" title="" class="logo"></a>
						<cite class="byline vcard">By <span class="fn">Peter Valdes-Dapena, senior writer</span> | <span class="provider org">CNNMoney.com</span>&nbsp;–&nbsp;<abbr title="2011-05-11T17:20:05+00:00">2 hours 15 minutes ago</abbr></cite> -->
					</div>
				</div>
<!-- <div class="yom-mod social-buttons ">
	<div class="bd">
		<div class="yui3-widget yui3-ymsb" id="yui_3_3_0_15_130514253148732">
		<div id="yui_3_3_0_15_130514253148741" class="ymsb ymsb-retweet ymsb-facebook yui3-ymsb-content">
			<ul>
				<li class="ymsb-module ymsb-facebook-module">
					<div class="ymsb-static"><a href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fautos.yahoo.com%2Fnews%2Frusty-cars-that-could-be-worth-millions.html&amp;t=Rusty%20cars%20that%20could%20be%20worth%20millions%20-%20Yahoo%21%20Autos" title="Share">
						<span>Share</span></a>
					</div>
					<div class="ymsb-live">
							<iframe allowtransparency="true" src="http://l.yimg.com/p/social_buttons/facebook-share-iframe.php?u=http%3A%2F%2Fautos.yahoo.com%2Fnews%2Frusty-cars-that-could-be-worth-millions.html&amp;t=Rusty%20cars%20that%20could%20be%20worth%20millions%20-%20Yahoo%21%20Autos&amp;l=Share&amp;t__S=2142204237&amp;t_ct=a&amp;t_lang=en-US&amp;t_intl=US&amp;t_pkg=83feaf67-2971-37b3-b335-d45fc12b4ec4&amp;t_sec=mit_share&amp;t_act=facebook" frameborder="0" height="22" scrolling="no" width="100">							
							</iframe>
					</div>
				</li>
				<li class="ymsb-module ymsb-retweet-module">
					<div class="ymsb-static">
						<a href="http://twitter.com/home?status=http%3A%2F%2Fautos.yahoo.com%2Fnews%2Frusty-cars-that-could-be-worth-millions.html" title="retweet">
							<span>retweet</span>
						</a>
					</div>
					<div class="ymsb-live">
						<iframe allowtransparency="true" src="http://pro.tweetmeme.com/button.js?url=http%3A%2F%2Fautos.yahoo.com%2Fnews%2Frusty-cars-that-could-be-worth-millions.html&amp;style=compact&amp;service=bit.ly&amp;t__S=2142204237&amp;t_ct=a&amp;t_lang=en-US&amp;t_intl=US&amp;t_pkg=83feaf67-2971-37b3-b335-d45fc12b4ec4&amp;t_sec=mit_share&amp;t_act=retweet" frameborder="0" height="22" scrolling="no" width="90"></iframe>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
</div> -->


<!-- START 5_11 -->
<div class="yog-wrap">
    <div class="yog-col yog-5u">
        <!-- -->


    </div>
    <div class="yog-col yog-11u">
        <!-- --><div class="yom-mod yom-art-content">
	<div class="bd">
			<%= sanitize @page.parts.find_by_title('Body').body %>
				<!-- <div class="yom-mod yom-pagination yom-pagination1">
					<div class="hd a11y"><h4>Pagination</h4></div>
					<div class="bd">
								<ul class="past">
									<li><strong class="yom-button-2 first disabled">
										<span class="icon icon-arrow-first-2">First</span></strong></li><li><strong class="yom-button-2 prev disabled"><span class="icon icon-arrow-prev-2">Previous</span></strong></li>
								</ul>
								<ol class="pages"><li><strong class="disabled">1</strong></li><li><a href="?page=2">2</a></li>
								</ol>
								<ul class="future"><li><a href="?page=2" class="yom-button next"><span class="icon icon-arrow-next-1">Next</span></a></li><li><a href="?page=2" class="yom-button last"><span class="icon icon-arrow-last-1">Last</span></a></li>
								</ul>
					</div>
					<div class="ft">(2 Pages) | <a href="?page=all">Read all</a>
					</div>
				</div> -->
				</div>
	</div>
           
                
    </div>
</div>
           
<!-- END 5_11 -->


