	

	    <div class="bd">
	        <div class="copyright-providers">
	            <cite></cite>
	        </div>
	        <div class="copyright">
	            <cite>
	                Copyright © 2011 Carl Tanner All rights reserved.
	            </cite>
	            <span>

	            </span>
	            <ul>
	                <li class="first"><a href="/help">Help</a> <!-- / <a href="http://suggestions.yahoo.com/">Suggestions</a> --></li>
	                <li><a href="/privacy">Privacy Policy</a></li>
	                <li><a href="/relevantads/">About Our Ads</a></li>
	                <li><a href="/terms/">Terms of Service</a></li>
	                <li class="last"><a href="/copyright">Copyright/IP Policy</a></li>
	            </ul>
	        </div>
	    </div>
