<% content_for:stylesheets do -%>
	<link rel="stylesheet" type="text/css" href="http://l.yimg.com/zz/combo?d/lib/yui/2.8.0r4/build/reset/reset-min.css&d/lib/yui/2.8.0r4/build/fonts/fonts-min.css&os/mit/media/p/common/grids-min-84124.css&os/mit/media/p/common/presentation-min-25135.css&os/mit/media/m/base/modules-min-106186.css&kx/ucs/uh/css/200/yunivhead-min.css&kx/ucs/uh/css/194/logo-min.css&kx/ucs/search/css/163/search_all-min.css&kx/ucs/search/css/170/search_buttons-min.css&os/mit/media/m/header/header-min-49043.css&os/mit/media/m/navigation/navigation-min-78540.css&os/mit/media/m/ads/ads-min-109990.css&os/mit/media/m/linkbox/linkbox-min-105638.css&os/mit/media/m/footer/footer-links-min-84768.css&os/mit/media/m/trending/trending-min-103801.css&os/mit/media/m/footer/footer-info-min-65168.css" />
	<link rel="stylesheet" href="/stylesheets/autos-min-108105.css" type="text/css" media="screen" title="no title" charset="utf-8">

			<!-- <link rel="stylesheet" type="text/css" href="http://l.yimg.com/zz/combo?os/mit/media/themes/base/base-min-108859.css&os/mit/media/themes/base/base-imagery-min-107649.css&os/mit/media/themes/black0d0d0d/theme-min-108307.css&os/mit/media/themes/black0d0d0d/theme-imagery-min-100135.css&os/mit/media/p/autos/site/autos-min-111755.css" /> -->
	<!-- different than articles -->
					<link rel="stylesheet" type="text/css" href="http://l.yimg.com/zz/combo?os/mit/media/m/search/searchform-min-67238.css&os/mit/media/m/jumbotron/jumbotron-min-111769.css&os/mit/media/m/index/index-min-108942.css&os/mit/media/m/carousel/carousel-template-min-106113.css&os/mit/media/m/carousel/carousel-min-106121.css&os/mit/media/m/accordion/node-accordion-core-min-83270.css&os/mit/media/m/accordion/modules-min-77038.css&os/mit/media/m/autos/modules-min-109046.css" />


			<style type="text/css">
			#index-carousel-287948775 {width:310px;}
			#index-carousel-287948775 .yui-carousel-element {width:310px;}
			#index-carousel-287948775 .yui-carousel-item {width:310px;height:236px;}
			#index-carousel-287948775 .yui-carousel-item .item {width:310px;height:236px;}

			</style>
			<style type="text/css">
			#index-carousel-1311552924 {width:310px;}
			#index-carousel-1311552924 .yui-carousel-element {width:310px;}
			#index-carousel-1311552924 .yui-carousel-item {width:310px;height:236px;}
			#index-carousel-1311552924 .yui-carousel-item .item {width:310px;height:236px;}
			</style>
<% end -%>
<div id="MediaStoryListLP" class="yom-mod story-list story-list-lp"><div class="hd"><h3>Featured</h3></div><div class="bd">
	<ul class="yom-list yom-list-wide headline">
		<%- @blog_posts = BlogPost.all -%>
		<% if !@blog_posts.blank? %>
		    <% @blog_posts.each do |blog_post| %>
		        <li><div class="story"><div class="txt"><h4><%= link_to blog_post.title, blog_post_url(blog_post) %></h4><cite><%= blog_post.author.username %> - <%= blog_post.published_at %></cite></div></div></li>
		    <% end %>
		<% end %>		
	</ul>
</div>
<div class="ft"><div class="more"><a href="/blog/">View blog posts»</a></div></div></div>

<!-- <div class="yog-wrap">
    <div class="yog-col yog-8u"> -->
        <!-- --><!-- <div class="yom-mod idx-mod"><div class="bd"><div class="ymg-carousel xl_thmb_play_ttle_atrb_date yui-carousel-min-width yui-carousel-visible yui-carousel-horizontal yui-carousel" id="index-carousel-1369324406" style="width: 310px;">
        <div class="yui-carousel-nav"><h2 class="ymg-carousel-header">Videos</h2><div class="yui-carousel-pagination">1 - 1 of 5</div><div class="ymg-nav-buttons"><a role="button" class="yui-carousel-button yui-carousel-prev yom-button prevent-default  ymg-nav-prev yui-carousel-first-button-disabled" href="#previous" disabled="true"><span><strong>prev</strong></span></a><a role="button" class="yui-carousel-button yui-carousel-next yom-button prevent-default  ymg-nav-next" href="#next"><span><strong>next</strong></span></a></div><ul style="visibility: visible;"><li class="yui-carousel-nav-first-page yui-carousel-nav-page-selected"><a tabindex="0" href="#1" class="yui-carousel-pager-item"><em>Go to page  1</em></a></li><li><a tabindex="0" href="#2" class="yui-carousel-pager-item"><em>Go to page  2</em></a></li><li><a tabindex="0" href="#3" class="yui-carousel-pager-item"><em>Go to page  3</em></a></li><li><a tabindex="0" href="#4" class="yui-carousel-pager-item"><em>Go to page  4</em></a></li><li><a tabindex="0" href="#5" class="yui-carousel-pager-item"><em>Go to page  5</em></a></li></ul></div>
        <div class="yui-carousel-content" style="width: 310px;"><ol class="yui-carousel-element" style="height: 236px;">
        <li class="yui-carousel-item first-col yui-carousel-item-selected" id="yui-gen0" tabindex="0" style="top: 0pt; left: 0px;"><div class="item ymg-24978791"><div><a title="2011 Volkswagen Touareg Hybrid" alt="2011 Volkswagen Touareg Hybrid" class="media" href="/video/wheelstv-13069429/2011-volkswagen-touareg-hybrid-24978791.html"><img width="300" height="170" src="http://l.yimg.com/bt/api/res/1.2/dBbYv.IQdLxL_Sui9nNPOA--/YXBwaWQ9eW5ld3M7Zmk9ZmlsbDtoPTE3MDtxPTg1O3c9MzAw/http://l.yimg.com/a/p/i/bcst/yp/yautos/y!autos/14751/123247035.jpg" title="2011 Volkswagen Touareg Hybrid" alt="2011 Volkswagen Touareg Hybrid" class="center"><span class="action play">Play Video</span></a><p><a title="2011 Volkswagen Touareg Hybrid" alt="2011 Volkswagen Touareg Hybrid" class="ttl" href="/video/wheelstv-13069429/2011-volkswagen-touareg-hybrid-24978791.html">2011 Volkswagen Touareg Hybrid</a></p><p><span>Yahoo! Autos</span> - <em>2:14</em></p></div></div></li>

        </ol></div></div></div><div class="ft"><div class="more"><a href="/video/">View more videos»</a></div></div></div>
            </div> -->
    <!-- <div class="yog-col yog-8u"> -->
        <!-- --><!-- <div class="yom-mod idx-mod"><div class="bd"><div class="ymg-carousel xl_thmb_play_ttle_atrb_date yui-carousel-min-width yui-carousel-visible yui-carousel-horizontal yui-carousel" id="index-carousel-12050955" style="width: 310px;">
        <div class="yui-carousel-nav"><h2 class="ymg-carousel-header">Photo Slideshows</h2><div class="yui-carousel-pagination">1 - 1 of 5</div><div class="ymg-nav-buttons"><a role="button" class="yui-carousel-button yui-carousel-prev yom-button prevent-default  ymg-nav-prev yui-carousel-first-button-disabled" href="#previous" disabled="true"><span><strong>prev</strong></span></a><a role="button" class="yui-carousel-button yui-carousel-next yom-button prevent-default  ymg-nav-next" href="#next"><span><strong>next</strong></span></a></div><ul style="visibility: visible;"><li class="yui-carousel-nav-first-page yui-carousel-nav-page-selected"><a tabindex="0" href="#1" class="yui-carousel-pager-item"><em>Go to page  1</em></a></li><li><a tabindex="0" href="#2" class="yui-carousel-pager-item"><em>Go to page  2</em></a></li><li><a tabindex="0" href="#3" class="yui-carousel-pager-item"><em>Go to page  3</em></a></li><li><a tabindex="0" href="#4" class="yui-carousel-pager-item"><em>Go to page  4</em></a></li><li><a tabindex="0" href="#5" class="yui-carousel-pager-item"><em>Go to page  5</em></a></li></ul></div>
        <div class="yui-carousel-content" style="width: 310px;"><ol class="yui-carousel-element" style="height: 236px;">
        <li class="yui-carousel-item first-col yui-carousel-item-selected" id="yui-gen1" tabindex="0" style="top: 0pt; left: 0px;"><div class="item ymg-eae0d37d-acd5-3501-aa8f-08553b28ce88"><div><a title="2012 Lamborghini Aventador" alt="2012 Lamborghini Aventador" class="media" href="/photos/2012-lamborghini-aventador-slideshow/"><img width="300" height="170" src="http://l.yimg.com/bt/api/res/1.2/c._czty1ZgYwNj2juWHJug--/YXBwaWQ9eW5ld3M7Zmk9ZmlsbDtoPTE3MDtxPTg1O3c9MzAw/http://media.zenfs.com/en_us/News/ap_webfeeds/b99d897cec3c6104e60e6a706700a0ee.jpg" title="2012 Lamborghini Aventador" alt="2012 Lamborghini Aventador" class="center"></a><p><a title="2012 Lamborghini Aventador" alt="2012 Lamborghini Aventador" class="ttl" href="/photos/2012-lamborghini-aventador-slideshow/">2012 Lamborghini Aventador</a></p><p><span>6 photos</span> - </p></div></div></li>

        </ol></div></div></div><div class="ft"><div class="more"><a href="/auto-shows/">View more auto shows»</a></div></div></div>
            </div>
        </div> -->

