<div id='developers' class='panel half'>
  <h2>Developers</h2>
  <ul class='clearfix'>
    <%# @developers.each do |developer| %>
      <li>
        <%# link_to image_tag("http://gravatar.com/avatar/#{developer.gravatar_id}?s=48", :alt => developer.login), "http://github.com/#{developer.login}" %>
      </li>
    <%# end %>
  </ul>
  <p class='help'>
    Are you a Silicon Valley Ruby developer? Follow <%= link_to "svruby", "https://github.com/svruby" %> to see your face here.
  </p>
</div>