<div class='panel third block_list' id='events'>
  <h2>Upcoming Events</h2>
  <ul>
    <%# @events.each do |event| 
    event_date = parse_date(event['summary'].split('When:')[1].split('to')[0])
    %>
      <li class='clearfix'>
        <span class='calendar clearfix'>
          <span class='month'>
            <%# event_date.strftime("%b") %>
          </span>
          <%# event_date.strftime("%d") %>
        </span>
        <%# event['title'] %>
      </li>
    <%# end %>
  <ul>
</div>