<div id='projects' class='panel half block_list'>
  <h2>Projects</h2>
  <ul>
    <%# @projects.each do |project| %>
      <li>
        <%# link_to project.name, project.url %>
        <span class='watches'>
          <%# project.watchers %> watchers
        </span>
      </li>
    <%# end %>
  </ul>
</div>